@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./palette.css";

@layer base {
  :root {
    --background: 84.21% 0 0;
    --background-2: 93.1% 0 0;
    --background-3: 98.21% 0 0;
    --foreground: 0% 0 0;
    --card: 0 0% 100%;
    --card-foreground: 0% 0 0;
    --popover: 93.05% 0 0;
    --popover-foreground: 0% 0 0;
    --primary: 65.03% 0.175 256.69;
    --primary-foreground: 0% 0 0;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0% 0 0;
    --muted: 0% 0 0 / 19.22%;
    --muted-foreground: 49.26% 0 0;
    --accent: 100% 0 0;
    --accent-foreground: 0% 0 0;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0% 0 0 / 19.22%;
    --input: 0% 0 0 / 6.27%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 8px;
  }

  .dark {
    --background: 21.34% 0 0;
    --background-2: 25.2% 0 0;
    --background-3: 28.5% 0 0;
    --foreground: 92.8% 0 0;
    --card: 0 0% 100%;
    --card-foreground: 92.8% 0 0;
    --popover: 28.5% 0 0;
    --popover-foreground: 92.8% 0 0;
    --primary: 65.03% 0.175 256.69;
    --primary-foreground: 92.8% 0 0;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 92.8% 0 0;
    --muted: 100% 0 0 / 13.33%;
    --muted-foreground: 76.99% 0 0;
    --accent: 95.81% 0 0;
    --accent-foreground: 0% 0 0;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 100% 0 0 / 13.33%;
    --input: 100% 0 0 / 10.59%;
    --ring: 221.2 83.2% 53.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    @apply antialiased;
    overflow: hidden;
    overflow-anchor: none;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    /* shape-rendering: auto; */
    /* --webkit-font-smoothing: antialiased; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
