version: "3.8"

services:
  supertokens:
    image: registry.supertokens.io/supertokens/supertokens-postgresql:latest
    environment:
      POSTGRESQL_CONNECTION_URI: ${SUPERTOKEN_DATABASE_URL}
    ports:
      - 3567:3567
    networks:
      - tegon
    restart: unless-stopped

  redis:
    image: redis:alpine3.19
    networks:
      - tegon
    restart: unless-stopped

  server:
    image: "tegonhq/tegon-server:${VERSION}"
    container_name: tegon-server
    depends_on:
      - supertokens
      - redis
    restart: unless-stopped
    networks:
      - tegon
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - FRONTEND_HOST=${FRONTEND_HOST}
      - PUBLIC_FRONTEND_HOST=${PUBLIC_FRONTEND_HOST}
      - BACKEND_HOST=${BACKEND_HOST}
      - PORT=${BACKEND_PORT}
      - SUPERTOKEN_CONNECTION_URI=${SUPERTOKEN_CONNECTION_URI}
      - MASTER_TOKEN=${MASTER_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - REPLICATION_DATABASE_URL=${REPLICATION_DATABASE_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_SCHEMA=${DB_SCHEMA}
      - REDIS_URL=${REDIS_URL}
      - REDIS_PORT=${REDIS_PORT}
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
    ports:
      - 3001:3001

  webapp:
    image: "tegonhq/tegon-webapp:${VERSION}"
    container_name: tegon-webapp
    restart: unless-stopped
    depends_on:
      - server
    networks:
      - tegon
    environment:
      - BACKEND_URL=${BACKEND_URL}
      - NEXT_PUBLIC_BASE_HOST=${PUBLIC_FRONTEND_HOST}
      - NEXT_PUBLIC_VERSION=${VERSION}
      - NEXT_PUBLIC_SYNC_SERVER=${NEXT_PUBLIC_SYNC_SERVER}
    ports:
      - 8000:3000

  prisma:
    image: "tegonhq/tegon-prisma:${VERSION}"
    container_name: tegon-prisma
    restart: unless-stopped
    networks:
      - tegon
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REPLICATION_DATABASE_URL=${REPLICATION_DATABASE_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_SCHEMA=${DB_SCHEMA}
    ports:
      - 5555:5555

networks:
  app_network:
    driver: bridge
  tegon: {}

volumes:
  postgres-data:
  kafka-volume:
  zookeeper-volume:
