version: "3"

services:
  webapp:
    container_name: webapp
    build:
      context: .
      dockerfile: ./apps/webapp/Dockerfile
    image: tegonhq/tegon-webapp:0.3.1-alpha
    restart: always
    ports:
      - 3000:3000
    networks:
      - tegon

  server:
    container_name: server
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    image: tegonhq/tegon-server:0.3.1-alpha
    restart: always
    ports:
      - 3001:3001
    networks:
      - tegon

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  tegon:
    external: true
