@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 229 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 50.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 229 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 39% 11%;
    --foreground: 210 40% 98%;
    --card: 221 39% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 221 39% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 229 47.4% 11.2%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 60.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 20%;
    --input: 217 19% 27%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply antialiased;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    shape-rendering: auto;
    --webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.editor-checkbox label {
  display: flex;
  align-items: center;
  background-color: black;
}

.editor-checkbox input {
  @apply h-2 w-2 mr-2 focus-visible:outline-none;
}

.editor-checkbox span {
  @apply h-4 w-4 bg-background border-1 rounded-sm;

  position: absolute;
  left: 0;
}

.editor-checkbox input:checked ~ span {
  @apply bg-primary border-primary;
}

.editor-checkbox span:after {
  content: '';
  position: absolute;
  display: none;
}

.editor-checkbox input:checked ~ span:after {
  display: block;
}

.editor-checkbox span:after {
  @apply dark:border-slate-800 border-slate-100;

  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-slate-500 dark:text-slate-600 text-base;

  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
