@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 84.21% 0 0;
    --foreground: 0% 0 0;
    --card: 0 0% 100%;
    --card-foreground: 0% 0 0;
    --popover: 93.05% 0 0;
    --popover-foreground: 0% 0 0;
    --primary: 65.03% 0.175 256.69;
    --primary-foreground: 0% 0 0;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0% 0 0;
    --muted: 81.69% 0 0;
    --muted-foreground: 49.26% 0 0;
    --accent: 100% 0 0;
    --accent-foreground: 0% 0 0;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0% 0 0 / 19.22%;
    --input: 84.21% 0 0;
    --ring: 221.2 83.2% 53.3%;
    --radius: 8px;
    --active: 100% 0 0;
  }

  .dark {
    --background: 84.52% 0 0;
    --foreground: 210 40% 98%;
    --card: 221 39% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 221 39% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 221.2 83.2% 60%;
    --primary-foreground: 0% 0 0;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 60.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 17%;
    --input: 217 19% 27%;
    --ring: 224.3 76.3% 48%;
    --active: 217 33% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    @apply antialiased;
    overflow: hidden;
    overflow-anchor: none;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    /* shape-rendering: auto; */
    /* --webkit-font-smoothing: antialiased; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://moderncss.dev/pure-css-custom-checkbox-style/ */
ul[data-type='taskList'] li > label {
  margin-right: 0.2rem;
  user-select: none;
  width: 1rem;
  height: 1rem;
}

@media screen and (max-width: 768px) {
  ul[data-type='taskList'] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type='taskList'] li > label input[type='checkbox'] {
  @apply border rounded-sm;

  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-top: 0.3rem;
  display: grid;
  place-content: center;
}

ul[data-type='taskList'] li > label input[type='checkbox']::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em;
  transform-origin: center;
  clippath: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

ul[data-type='taskList'] li > label input[type='checkbox']:checked::before {
  transform: scale(1);
}

ul[data-type='taskList'] li[data-checked='true'] > div > p {
  color: rgb(var(--color-text-200));
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-base;

  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.scroll-area > div {
  display: block !important;
}

#slash-command {
  @apply bg-gray-200;
}
