@tailwind base;

@layer base {
  :root {
    --background: 91.28% 0 0;
    --background-2: 95.21% 0 0;
    --background-3: 100% 0 0;
    --foreground: 0% 0 0;
    --popover: 93.05% 0 0;
    --popover-foreground: 0% 0 0;
    --primary: 65.03% 0.175 256.69;
    --primary-foreground: 100% 0 0;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0% 0 0;
    --muted: 0% 0 0 / 19.22%;
    --muted-foreground: 49.26% 0 0;
    --accent: 100% 0 0;
    --accent-foreground: 0% 0 0;
    --destructive: 61.34% 0.162 23.58;
    --destructive-foreground: 100% 0 0;
    --warning: 70.43% 0.14390424619548714 87.9634104985311;
    --warning-foreground: 100% 0 0;
    --success: 64.93% 0.107 154.24;
    --success-foreground: 100% 0 0;
    --border: 0% 0 0 / 19.22%;
    --input: 0% 0 0 / 6.27%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 8px;
  }

  .dark {
    --background: 21.34% 0 0;
    --background-2: 25.2% 0 0;
    --background-3: 28.5% 0 0;
    --foreground: 92.8% 0 0;
    --popover: 28.5% 0 0;
    --popover-foreground: 92.8% 0 0;
    --primary: 65.03% 0.175 256.69;
    --primary-foreground: 92.8% 0 0;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 92.8% 0 0;
    --muted: 100% 0 0 / 13.33%;
    --muted-foreground: 76.99% 0 0;
    --accent: 95.81% 0 0;
    --accent-foreground: 0% 0 0;
    --warning: 70.43% 0.14390424619548714 87.9634104985311;
    --warning-foreground: 100% 0 0;
    --destructive: 61.34% 0.162 23.58;
    --destructive-foreground: 100% 0 0;
    --success: 64.93% 0.107 154.24;
    --success-foreground: 100% 0 0;
    --border: 100% 0 0 / 13.33%;
    --input: 100% 0 0 / 10.59%;
    --ring: 221.2 83.2% 53.3%;
  }
}
