# POSTGRES
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=tegon

# Nest run locally
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=tegon

# Prisma database connection
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=${DB_SCHEMA}

# Nest
PORT=3001

FRONTEND_HOST=http://localhost:3000
BACKEND_HOST=http://localhost:3001

# Used in the callback
PUBLIC_FRONTEND_HOST=http://localhost:3000

SUPERTOKEN_CONNECTION_URI=http://localhost:3567
